.view-container
  .display.listcontainer.clearfix
    h2 Profile #{profileName}
    
    h3 Right answers
    ul
      li Overall #{overallScore}
      li Unique #{realScore}

    h3 Unique by category
    ul
      - each category in categoryScore
        li #{category.name}: #{category.score}

    .display-overlay