.view-container
  .display.profile.listcontainer.clearfix
    - if (typeof error !== "undefined")
      h2 Error #{error}
    - else
      h2 Profile #{profileName}
      
      ul.profile-list
        li
          .score #{Math.round(realScore / categoryCounts.all * 100)}% Hacker
          .details #{realScore} / #{categoryCounts.all}

      h3 Hacker by category
      ul.profile-list
        - each category in categoryScore
          li 
            .score #{Math.round(category.score / categoryCounts[category.name.toLowerCase()] * 100)}% #{category.name}
            .details #{category.score || "0"} / #{categoryCounts[category.name.toLowerCase()]}

      h3 Badges
      ul.profile-list
        - each badge in badges
          li 
            .score #{badge.toUpperCase()}
            .details Description here

    .display-overlay